<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>A8526BEE-270C-4617-9168-FDA4A0CB1098</string>
	<key>title</key>
	<string>Westword2.0</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
